body {
  background-image: url("https://cdn.discordapp.com/attachments/783008581271552064/783835038785208350/teen_week_final_ui_splashpage_draft_5.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#transform{
  display: none;
}